@import "assets/fonts/fonts.css";

html {
  height: 100%;
}

body {
  background: #f7f9fc;
  min-height: 100%;
  margin: 0;
  font-family: CirceRegular, sans-serif;
}

main {
  background: #ffffff;
}

.title {
  font-size: 32px;
  margin: 35px 0 25px;
}

